
#info {
    padding: 10px;
    display: none;
    width: 50em;
    height: 14em;
    background: white;
    border: 2px solid black;
    position: absolute;
    top: 14em;
    left: 10em;
    z-index: 10;
}

#wordformOptions {
    display: none;
}

#wordformView {
    padding: 10px;
}

#viewSwitch {
    padding: 10px;
    text-align: right;
}

.hideDictResults {
    display:none;
}
